In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
import requests
import json

In [4]:
nycrash_url='https://data.cityofnewyork.us/resource/f55k-p6yu.json'
response=requests.get(nycrash_url)
if response.status_code == 200:
    data = response.json()
    df_c = pd.json_normalize(data)
else:
    print(f"Failed to retrieve data: {response.status_code}")

df_c.head()

,unique_id,collision_id,crash_date,crash_time,person_id,person_type,person_injury,vehicle_id,ped_role,person_sex,...,ejection,emotional_status,bodily_injury,position_in_vehicle,safety_equipment,complaint,ped_location,ped_action,contributing_factor_1,contributing_factor_2
0,10249006,4229554,2019-10-26T00:00:00.000,9:43,31aa2bc0-f545-444f-8cdb-f1cb5cf00b89,Occupant,Unspecified,19141108,Registrant,U,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10255054,4230587,2019-10-25T00:00:00.000,15:15,4629e500-a73e-48dc-b8fb-53124d124b80,Occupant,Unspecified,19144075,Passenger,F,...,Not Ejected,Does Not Apply,Does Not Apply,"Front passenger, if two or more persons, inclu...",Lap Belt & Harness,Does Not Apply,NaN,NaN,NaN,NaN
2,10253177,4230550,2019-10-26T00:00:00.000,17:55,ae48c136-1383-45db-83f4-2a5eecfb7cff,Occupant,Unspecified,19143133,Registrant,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6650180,3565527,2016-11-21T00:00:00.000,13:05,2782525,Occupant,Unspecified,NaN,Notified Person,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10255516,4231168,2019-10-25T00:00:00.000,11:16,e038e18f-40fb-4471-99cf-345eae36e064,Occupant,Unspecified,19144329,Passenger,F,...,Not Ejected,Does Not Apply,Does Not Apply,Right rear passenger or motorcycle sidecar pas...,Lap Belt,Does Not Apply,NaN,NaN,NaN,NaN

In [5]:
df_c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   unique_id              1000 non-null   object
 1   collision_id           1000 non-null   object
 2   crash_date             1000 non-null   object
 3   crash_time             1000 non-null   object
 4   person_id              1000 non-null   object
 5   person_type            1000 non-null   object
 6   person_injury          1000 non-null   object
 7   vehicle_id             945 non-null    object
 8   ped_role               1000 non-null   object
 9   person_sex             902 non-null    object
 10  person_age             777 non-null    object
 11  ejection               504 non-null    object
 12  emotional_status       517 non-null    object
 13  bodily_injury          517 non-null    object
 14  position_in_vehicle    505 non-null    object
 15  safety_equipment       504 non-null    object
 16  complaint              517 non-null    object
 17  ped_location           13 non-null     object
 18  ped_action             13 non-null     object
 19  contributing_factor_1  13 non-null     object
 20  contributing_factor_2  13 non-null     object
dtypes: object(21)
memory usage: 164.2+ KB

In [9]:
def get_val_counts(coln):
    value_c=df_c[coln].value_counts()
    return value_c

In [7]:
df_c=df_c.drop(['contributing_factor_1','contributing_factor_2', 'ped_location', 'ped_action'], axis=1)
df_c.head()

,unique_id,collision_id,crash_date,crash_time,person_id,person_type,person_injury,vehicle_id,ped_role,person_sex,person_age,ejection,emotional_status,bodily_injury,position_in_vehicle,safety_equipment,complaint
0,10249006,4229554,2019-10-26T00:00:00.000,9:43,31aa2bc0-f545-444f-8cdb-f1cb5cf00b89,Occupant,Unspecified,19141108,Registrant,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10255054,4230587,2019-10-25T00:00:00.000,15:15,4629e500-a73e-48dc-b8fb-53124d124b80,Occupant,Unspecified,19144075,Passenger,F,33,Not Ejected,Does Not Apply,Does Not Apply,"Front passenger, if two or more persons, inclu...",Lap Belt & Harness,Does Not Apply
2,10253177,4230550,2019-10-26T00:00:00.000,17:55,ae48c136-1383-45db-83f4-2a5eecfb7cff,Occupant,Unspecified,19143133,Registrant,M,55,NaN,NaN,NaN,NaN,NaN,NaN
3,6650180,3565527,2016-11-21T00:00:00.000,13:05,2782525,Occupant,Unspecified,NaN,Notified Person,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10255516,4231168,2019-10-25T00:00:00.000,11:16,e038e18f-40fb-4471-99cf-345eae36e064,Occupant,Unspecified,19144329,Passenger,F,7,Not Ejected,Does Not Apply,Does Not Apply,Right rear passenger or motorcycle sidecar pas...,Lap Belt,Does Not Apply

In [8]:
df_c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   unique_id            1000 non-null   object
 1   collision_id         1000 non-null   object
 2   crash_date           1000 non-null   object
 3   crash_time           1000 non-null   object
 4   person_id            1000 non-null   object
 5   person_type          1000 non-null   object
 6   person_injury        1000 non-null   object
 7   vehicle_id           945 non-null    object
 8   ped_role             1000 non-null   object
 9   person_sex           902 non-null    object
 10  person_age           777 non-null    object
 11  ejection             504 non-null    object
 12  emotional_status     517 non-null    object
 13  bodily_injury        517 non-null    object
 14  position_in_vehicle  505 non-null    object
 15  safety_equipment     504 non-null    object
 16  complaint            517 non-null    object
dtypes: object(17)
memory usage: 132.9+ KB

In [27]:
df_c['person_age']=df_c['person_age'].astype('float')
median_age=int(df_c['person_age'].median())
median_age

39

In [29]:
df_c['safety_equipment']=df_c['safety_equipment'].fillna('Other')
df_c['emotional_status']=df_c['emotional_status'].fillna('Unknown')
df_c['bodily_injury']=df_c['bodily_injury'].fillna('Unknown')
df_c['ejection']=df_c['ejection'].fillna('Unknown')
df_c['position_in_vehicle']=df_c['position_in_vehicle'].fillna('Unknown')
df_c['complaint']=df_c['complaint'].fillna('Unknown')
df_c['person_sex']=df_c['person_sex'].fillna('U')
df_c['person_age']=df_c['person_age'].fillna(median_age)

In [32]:
df_c=df_c.dropna()

In [42]:
df_c['crash_date'] = df_c['crash_date'].str.split('T', expand=True)[0]

In [45]:
df_c['unique_id']=df_c['unique_id'].astype('int')
df_c['collision_id']=df_c['collision_id'].astype('int')
df_c['vehicle_id']=df_c['vehicle_id'].astype('int')
df_c['crash_time'] = pd.to_datetime(df_c['crash_time'], format='%H:%M')

In [48]:
df_c['crash_date'] = pd.to_datetime(df_c['crash_date'], format='%Y-%m-%d')

In [49]:
df_c.info()

<class 'pandas.core.frame.DataFrame'>
Index: 945 entries, 0 to 999
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   unique_id            945 non-null    int64
 1   collision_id         945 non-null    int64
 2   crash_date           945 non-null    datetime64[ns]
 3   crash_time           945 non-null    datetime64[ns]
 4   person_id            945 non-null    object
 5   person_type          945 non-null    object
 6   person_injury        945 non-null    object
 7   vehicle_id           945 non-null    int64
 8   ped_role             945 non-null    object
 9   person_sex           945 non-null    object
 10  person_age           945 non-null    float64
 11  ejection             945 non-null    object
 12  emotional_status     945 non-null    object
 13  bodily_injury        945 non-null    object
 14  position_in_vehicle  945 non-null    object
 15  safety_equipment     945 non-null    object
 16  complaint            945 non-null    object
dtypes: datetime64[ns](2), float64(1), int64(3), object(11)
memory usage: 132.9+ KB

In [54]:
get_val_counts('position_in_vehicle')

position_in_vehicle
Unknown                                                                                   448
Driver                                                                                    345
Front passenger, if two or more persons, including the driver, are in the front seat       55
Right rear passenger or motorcycle sidecar passenger                                       34
Left rear passenger, or rear passenger on a bicycle, motorcycle, snowmobile                24
Middle front seat, or passenger lying across a seat                                        16
Middle rear seat, or passenger lying across a seat                                         13
Any person in the rear of a station wagon, pick-up truck, all passengers on a bus, etc     10
Name: count, dtype: int64